<phpunit bootstrap="include/bootstrap.php">
    <testsuites>
        <testsuite name="diff-sniffer-core">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
